@import "~vue-material/dist/theme/engine"; // Import the theme engine

@import "./variables";

@include md-register-theme("default", (
  primary: $primary-color, // The primary color of your application
  accent: $accent-color, // The accent or secondary color
  theme: dark
  ));

@import "~vue-material/dist/theme/all"; // Apply the theme

.profile {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}
.board-card {
  border-radius: 5%;
  height: 250px;
  width: 250px;
  margin: 0 auto;
}
.board:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}
.board {
  height: 235px;
  // width: 100%;
  border-radius: 5%
}
.board-button {
  position: relative;
  top: 85px;
  left: 85px;
  background-color: $accent-color;
  color: white;
}
.blank-board {
  background-color: $accent-color;
  height: 95%;
  width: 100%;
  border-radius: 5%;
}
